/* Define CSS variables for each theme */
:root {
  --main-background-dark: #1a1a1a;
  --main-text-dark: #f0f0f0;
  --accent-color-dark: #be3144;

  --main-background-blue: #032B44;
  --main-text-blue: #F7F7F7;
  --accent-color-blue: #00BFFF;

  --main-background-neutral: #1a1d23;
  --main-text-neutral: #f7f7f7;
  --accent-color-neutral: #34C759;

  --main-background-monochrome: #333333;
  --main-text-monochrome: #f0f0f0;
  --accent-color-monochrome: #757575;

  --hover-text-color-dark: #ffffff;
  --hover-text-color-light: #000000;
  --hover-text-color-blue: #ffffff;
  --hover-text-color-neutral: #ffffff;
  --hover-text-color-monochrome: #ffffff;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Box-sizing and font sizing */
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html { font-size: 60%; }
}

@media (max-width: 61.25em) {
  html { font-size: 58%; }
}

@media (max-width: 28.75em) {
  html { font-size: 55%; }
}

/* Base styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-text);
  background-color: var(--main-background);
  overflow-y: auto;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 { font-size: 6rem; }
h2 { font-size: 4.2rem; }

ul { list-style: none; }

a {
  text-decoration: none;
  color: var(--accent-color);
}

img {
  display: block;
  width: 100%;
}

/* Navigation */
.nav-wrapper {
  position: relative;
  background-color: var(--main-background);
  box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 1);
  transition: 0.5s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.nav-left {
  margin-right: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 2.5rem;
}

.nav.sticky {
  box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.2);
  animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.name {
  font-weight: bold;
  font-size: 2.2rem;
  margin-right: 15rem;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--accent-color);
  color: var(--hover-text-color-dark);
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
  }
  .nav-list a {
    padding: 1rem;
    font-size: 1.8rem;
  }
  .name {
    margin-bottom: 1rem;
  }
}

/* Theme Dropdown */
.theme-dropdown {
  position: relative;
}

.theme-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 16rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.theme-dropdown-content a {
  padding: 1.2rem 1.6rem;
  display: block;
}

.theme-dropdown-content a:hover {
  background-color: var(--accent-color);
  color: var(--hover-text-color-dark);
}

.theme-dropdown:hover .theme-dropdown-content {
  display: block;
}

.theme-btn {
  background-color: var(--main-background);
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 2.2rem;
  border-radius: 50px;
  color: var(--main-text);
}

.theme-btn:hover {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

/* Section Styles */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-link.active {
  border-bottom: 0.2rem solid var(--accent-color);
}

.tab-link:hover {
  color: var(--accent-color);
}

/* Home section */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.home-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
}

@media (max-width: 75em) {
  .home-section > p {
    font-size: 2.5rem;
  }
}

@media (max-width: 61.25em) {
  .home-section > p {
    font-size: 2rem;
  }
}

@media (max-width: 28.75em) {
  .home-section > p {
    font-size: 1.5rem;
  }
}

/* About section */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  min-height: 90vh;
  background: var(--main-background);
  color: var(--main-text);
}

.about-section-header {
  text-align: center;
  margin-top: -7rem;
}

@media (max-width: 61.25em) {
  .about-section {
    padding: 8rem;
  }
}

@media (max-width: 28.75em) {
  .about-section {
    padding: 5rem;
  }
}

/* Work section */
.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  min-height: 90vh;
  background: var(--main-background);
  color: var(--main-text);
}

.work-section-header {
  max-width: 64rem;
  margin-top: -7rem;
}

.work {
  background: var(--main-background);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  border-radius: 0.2rem;
}

.job-details {
  text-align: justify;
}

.job-details li {
  text-align: justify;
  margin-left: 2rem;
  list-style-type: disc;
}

@media (max-width: 61.25em) {
  .work-section {
    padding: 8rem;
  }
}

@media (max-width: 28.75em) {
  .work-section {
    padding: 5rem;
  }
}

/* Logo alignment */
.company-heading {
  display: inline-flex;
  align-items: center;
}

.company-logo {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}

/* Blogs section */
.blogs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem;
  min-height: 90vh;
  background: var(--main-background);
  color: var(--main-text);
}

.blogs-section-header {
  margin-bottom: 1%;
}

@media (max-width: 61.25em) {
  .blogs-section {
    padding: 8rem 2rem;
  }
}

@media (max-width: 28.75em) {
  .blogs-section {
    padding: 5rem 2rem;
  }
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 90vh;
  padding: 0 2rem;
  background: var(--main-background);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 98rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 0.2rem 0.2rem 0.1rem #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details-container {
  display: flex;
  justify-content: space-between;
}

.contact-details {
  margin-right: 2rem;
}

.contact-details:hover {
  transform: translateY(0.8rem);
}

@media (max-width: 61.25em) {
  .contact-section-header > h2 {
    font-size: 4.8rem;
  }
  .contact-details {
    font-size: 2rem;
  }
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 3.6rem;
  }
  .contact-details {
    font-size: 1.8rem;
  }
}

/* Footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-background);
  border-top: 0.4rem solid var(--accent-color);
}

footer > p {
  margin: 1rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 61.25em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
